{% extends 'base.html' %}

{% block title %}
    {% if action == 'create' %}Criar post{% else %}Editar post{% endif %}
{% endblock %}

{% block content %}
    <h2>
        {% if action == 'create' %}Criar novo post{% else %}Editar post{% endif %}
    </h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            {% if action == 'create' %}Criar{% else %}Salvar alterações{% endif %}
        </button>
    </form>

    <p><a href="{% url 'post-list' %}">Voltar à lista</a></p>
{% endblock %}
